@model UserManagement.Application.Contracts.User.EmailViewModel
@{
    Layout = null;
     var currentCulture =
         System.Threading.Thread.CurrentThread.CurrentCulture.Name;
}


<html lang="@currentCulture">
<head>

</head>
<body>
    <div dir="rtl" style="text-align:right">
        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate;width:100%;background-color:#f6f6f6">
            <tbody>
                <tr>
                    <td style="font-family:tahoma,sans-serif;font-size:14px;vertical-align:top">&nbsp;</td>
                    <td style="font-family:tahoma,sans-serif;font-size:14px;vertical-align:top;display:block;Margin:0 auto;max-width:580px;padding:10px;width:580px">
                        <div style="display:block;Margin:0 auto;max-width:580px;padding:10px">
                            <table style="border-collapse:separate;width:100%;background:#ffffff;border-radius:3px">
                                <tbody>
                                    <tr>
                                        <td style="text-align:center">
                                            <h2 style="margin-top:18px;font-size:20px;font-family:sans-serif">@DataDictionaries.ShopName</h2>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-family:tahoma,sans-serif;font-size:14px;vertical-align:top;padding:20px">
                                            <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate;width:100%">
                                                <tbody>
                                                    <tr>
                                                        <td style="font-family:tahoma,sans-serif;font-size:14px;vertical-align:top">
                                                            <p style="font-family:tahoma,sans-serif;font-size:14px;font-weight:normal;margin:0 0 15px">
                                                                @DataDictionaries.Hello
                                                                <a rel="nofollow">@Model.Email</a>
                                                            </p>
                                                            <p style="font-family:tahoma,sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:20px;line-height:25px">
                                                                @DataDictionaries.ResetPasswordEmailText
                                                            </p>
                                                            <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate;width:100%">
                                                                <tbody>
                                                                    <tr>
                                                                        <td align="left" style="font-family:sans-serif;font-size:14px;vertical-align:top;padding-bottom:15px">
                                                                            <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate;width:100%">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td style="font-family:tahoma,sans-serif;font-size:14px;vertical-align:top;background-color:#25bf20;border-radius:5px;text-align:center">
                                                                                            <a rel="nofollow" href="https://localhost:7169/Account/ResetPassword/@Model.ActivationCode" style="display:inline-block;color:#ffffff;background-color:#25bf20;border-radius:5px;text-decoration:none;font-size:14px;font-weight:bold;margin:0;padding:12px 25px;text-transform:capitalize;border:1px solid #25bf20" target="_blank">
                                                                                                @ButtonCaptions.ResetPassword
                                                                                            </a>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td style="font-family:sans-serif;font-size:14px;vertical-align:top">&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>