@page
@model Server.Areas.Administration.Pages.Roles.IndexModel
@{
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@DataDictionaries.UsersList</h3>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="m-b-15">
                                <a id="btnAddRole" class="btn btn-info">@ButtonCaptions.AddNewRole</a>
                            </div>
                            <div class="row m-t-10">
                                <div class="col-sm-12">
                                    <table id="datatable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
                                        <thead>
                                            <tr role="row">
                                                <th>@DataDictionaries.RoleTitle</th>
                                                <th>@DataDictionaries.Operations</th>
                                            </tr>
                                        </thead>

                                        <tbody>

                                            @foreach (var role in Model.RoleVm)
                                            {
                                                <tr role="row">
                                                    <td>@role.RoleTitle</td>
                                                    <td>
                                                        <a class="btn btn-primary btn-xs btnEditUser">@ButtonCaptions.Edit</a>
                                                        @if (!Model.RoleVm.Take(3).Contains(role))
                                                        {
                                                            <a class="btn btn-danger btn-xs">@ButtonCaptions.Delete</a>
                                                        }
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalAddRole" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-header">
                    <h3>@DataDictionaries.AddNewRole</h3>
                </div>
                <form method="post" asp-page-handler="CreateRole">
                    <div class="row">
                        <div class="col-md-6">
                            <input asp-for="Command.RoleTitle" type="text" placeholder="@DataDictionaries.FirstName" class="form-control m-t-10" />
                            <span asp-validation-for="Command.RoleTitle" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label col-md-3">@DataDictionaries.SelectPermissions</label>
                            <div class="col-md-12">
                                <select asp-for="Command.PermissionCodes" asp-items="Model.Permissions" class="multi-select" multiple="multiple" id="my_multi_select3">
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div>
                        <input id="btnCreateUser" type="submit" class="btn btn-success" value="@ButtonCaptions.AddNewRole" />
                        <a class="btn btn-danger" data-dismiss="modal">@ButtonCaptions.Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Styles
{
<link href="~/AdminContent/assets/jquery-multi-select/multi-select.css" rel="stylesheet" type="text/css" />
}

@section Scripts{
<script src="~/AdminContent/assets/jquery-multi-select/jquery.multi-select.js"></script>
<script src="~/AdminContent/assets/jquery-multi-select/jquery.quicksearch.js"></script>

<script>
    jQuery(document).ready(function() {
        $('#my_multi_select3').multiSelect({
            selectableOptgroup: true,
            selectableHeader:
                "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
            selectionHeader:
                "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
            afterInit: function(ms) {
                var that = this,
                    $selectableSearch = that.$selectableUl.prev(),
                    $selectionSearch = that.$selectionUl.prev(),
                    selectableSearchString =
                        '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                    selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

                that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                    .on('keydown',
                        function(e) {
                            if (e.which === 40) {
                                that.$selectableUl.focus();
                                return false;
                            }
                        });

                that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                    .on('keydown',
                        function(e) {
                            if (e.which == 40) {
                                that.$selectionUl.focus();
                                return false;
                            }
                        });
            },
            afterSelect: function() {
                this.qs1.cache();
                this.qs2.cache();
            },
            afterDeselect: function() {
                this.qs1.cache();
                this.qs2.cache();
            }
        });
    });
</script>
<script>

    $("#btnAddRole").click(function() {
        $("#modalAddRole").modal('show');
    });
</script>
}