@page
@model Server.Areas.Administration.Pages.Roles.IndexModel
@{
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@DataDictionaries.UsersList</h3>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="m-b-15">
                                <a asp-page="Create" class="btn btn-info">@ButtonCaptions.AddNewRole</a>
                            </div>
                            <div class="row m-t-10">
                                <div class="col-sm-12">
                                    <table id="datatable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
                                        <thead>
                                            <tr role="row">
                                                <th>@DataDictionaries.RoleTitle</th>
                                                <th>@DataDictionaries.Operations</th>
                                            </tr>
                                        </thead>

                                        <tbody>

                                            @foreach (var role in Model.RoleVm)
                                            {
                                                <tr role="row">
                                                    <td>@role.RoleTitle</td>
                                                    <td>
                                                        <a asp-page="Edit" asp-route-roleId="@role.RoleId" class="btn btn-primary btn-xs btnEditUser">@ButtonCaptions.Edit</a>
                                                        @if (!Model.RoleVm.Take(3).Contains(role))
                                                        {
                                                            <a onclick="GetRoleInformationsForDelete('@role.RoleId','@role.RoleTitle')" class="btn btn-danger btn-xs">@ButtonCaptions.Delete</a>
                                                        }
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="deleteRoleModal" class="modal fade">
    <div class="modal-dialog" style="width:45%">
        <div class="modal-content">
            <div class="modal-header">
                <h3>@DataDictionaries.DeleteRole</h3>
            </div>
            <form method="post" asp-page-handler="DeleteRole">
                <div class="row">
                    <div class="col-md-8">
                        <h4>@ConfirmationMessages.DeleteRoleConfirmationS1 (<span id="roleTitleInp" class="text-danger"></span>) @ConfirmationMessages.DeleteRoleConfirmationS2</h4>
                        <input id="roleIdForDeleteInp" name="roleId" type="hidden" />
                    </div>
                </div>
                <hr />
                <div>
                    <input type="submit" class="btn btn-danger" value="@ButtonCaptions.Delete" />
                    <a class="btn btn-success" data-dismiss="modal">@ButtonCaptions.Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts{
    <script>

        function GetRoleInformationsForDelete(roleId, roleTitle) {
            $("#roleTitleInp").text(roleTitle);
            $("#roleIdForDeleteInp").val(roleId);
            $("#deleteRoleModal").modal('show');
        }
    </script>

    @if (Model.ErrorMessage != null)
    {
        <text>
            <script src="~/AdminContent/assets/js/iziToast.min.js"></script>
            <link href="~/AdminContent/assets/css/iziToast.min.css" rel="stylesheet" type="text/css" />
            <script>

                iziToast.warning({
                    message: '@Model.ErrorMessage',
                    rtl: true,
                    position: 'bottomCenter',
                    timeout: 3000
                });
            </script>
        </text>

    }
}
