@page "{activationCode}"
@model Server.Pages.Account.ActiveAccountModel
@{
    Layout = null;
    var currentCulture =
    System.Threading.Thread.CurrentThread.CurrentCulture.Name;
}


<html lang="@currentCulture">
<head>
    <title>@PageTitles.ActiveAccount</title>
    <partial name="PartialViews/_Styles"></partial>
</head>
<body>
    <div class="page-wrapper">
        <partial name="PartialViews/_AccountHeader"></partial>
        <main class="page-content page-auth">
            @if (Convert.ToBoolean(ViewData["IsActivated"]))
            {
                <div class="auth-container">
                    <div class="auth-title mb-3">@DataDictionaries.Congratulations</div>

                    <div class="auth-box ui-box">
                        <div class="fs-6 fw-bold text-dark text-center mb-3">@ConfirmationMessages.ConfirmRegister</div>
                        <div class="fs-7 fw-bold text-muted text-center mb-3">
                            @ConfirmationMessages.ConfirmRegisterText
                        </div>
                        <a href="/UserPanel" class="btn btn-block btn-primary mb-3"><i class="ri-user-6-fill me-2"></i>@ButtonCaptions.ConfirmUserInformations</a>
                    </div>
                </div>
            }
            else
            {
                <div class="auth-container">
                    <div class="auth-title mb-3">@DataDictionaries.ActivationError</div>

                    <div class="auth-box ui-box">
                        <div class="fs-6 fw-bold text-dark text-center mb-3">@ErrorMessages.ActivationErrorTitle</div>
                        <div class="fs-7 fw-bold text-muted text-center mb-3">
                            @ErrorMessages.ActivationErrorText
                        </div>
                        <a href="/" class="btn btn-block btn-primary mb-3"><i class="ri-user-6-fill me-2"></i>@ButtonCaptions.ReturnHome</a>
                    </div>
                </div>
            }
        </main>
        <partial name="PartialViews/_AccountFooter"></partial>
    </div>
    <partial name="PartialViews/_Scripts"></partial>
</body>
</html>