@page
@model Server.Pages.Account.ForgetPasswordModel
@{
    var currentCulture =
        System.Threading.Thread.CurrentThread.CurrentCulture.Name;
    Layout = null;
}

<html lang="@currentCulture">
<head>
    <title>@(ViewData["Title"]=PageTitles.ForgetPassword)</title>
    <partial name="PartialViews/_Styles" />
</head>
<body>
<div class="page-wrapper">
    <partial name="PartialViews/_AccountHeader" />

    <main class="page-content page-auth">

        <div class="auth-container">
            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="alert alert-warning">
                    @Model.ErrorMessage
                </div>
            }
            @if (Convert.ToBoolean(ViewData["IsEmailSent"]))
            {
                <div class="alert alert-success">
                    @ConfirmationMessages.ResetPasswordEmailSent
                </div>
                
            }
            <div class="auth-title mb-3">@DataDictionaries.ForgetPassword</div>
            <div class="auth-box ui-box">

                <form method="post">
                    <div class="form-element-row mb-5">
                        <input asp-for="Command.Email" type="email" value="@Model.Email" class="form-control" placeholder="@DataDictionaries.Email">
                        <span asp-validation-for="Command.Email" class="text-danger"></span>
                    </div>

                    <div class="form-element-row mb-3">
                        <button class="btn btn-primary">@ButtonCaptions.Submit</button>
                    </div>

                </form>
            </div>
        </div>
    </main>
    <partial name="PartialViews/_AccountFooter" />
</div>
<partial name="PartialViews/_Scripts" />
<partial name="PartialViews/_ValidationScriptsPartial" />
</body>
</html>
