@page
@model Server.Pages.Account.LoginModel
@{
    Layout = null;
}

<html>
<head>
    <title>@(ViewData["Title"]=PageTitles.Login)</title>
    <partial name="PartialViews/_Styles" />
</head>
<body>
    <div class="page-wrapper">
        <partial name="PartialViews/_AccountHeader" />

        <main class="page-content page-auth">

            <div class="auth-container">
                @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                {
                    <div class="alert alert-warning">
                        @Model.ErrorMessage
                    </div>
                }
                <div class="auth-title mb-3">@DataDictionaries.Login</div>
                <div class="auth-box ui-box">

                    <form method="post">
                        <div class="form-element-row mb-5">
                            <input asp-for="Command.Password" type="password" class="form-control" placeholder="@DataDictionaries.Password">
                            <span asp-validation-for="Command.Password" class="text-danger"></span>
                        </div>
                        <a class="link-primary" asp-page="/Account/ForgetPassword">
                            @ButtonCaptions.ForgetPassword
                        </a>
                        <hr />

                        <div class="form-element-row mb-3">
                            <button class="btn btn-primary">@ButtonCaptions.Login</button>
                        </div>

                    </form>
                </div>
            </div>
        </main>
        <partial name="PartialViews/_AccountFooter" />
    </div>
    <partial name="PartialViews/_Scripts" />
    <partial name="PartialViews/_ValidationScriptsPartial" />
</body>
</html>