@page "{activationCode}"
@model Server.Pages.Account.ResetPasswordModel
@{
    Layout = null;
}

<html>
<head>
    <title>@(ViewData["Title"]=PageTitles.ResetPassword)</title>
    <partial name="PartialViews/_Styles" />
</head>
<body>
<div class="page-wrapper">
    <partial name="PartialViews/_AccountHeader" />

    <main class="page-content page-auth">

        <div class="auth-container">
            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="alert alert-warning">
                    @Model.ErrorMessage
                </div>
            }
            @if (Convert.ToBoolean(ViewData["SuccessReset"]))
            {
                <div class="alert alert-success">
                    @ConfirmationMessages.ConfirmResetPassword
                </div>
                <script>
                    var delay = 2000;
                    setTimeout(function () { window.location = "http://localhost:7169/Account/RegisterAndLogin"; }, delay);
                </script>
            }
            <div class="auth-title mb-3">@DataDictionaries.ResetPassword</div>
            <div class="auth-box ui-box">

                <form method="post">
                    <div class="form-element-row mb-5">
                        <input asp-for="Command.ActivationCode" type="hidden" />
                        <input asp-for="Command.CurrentPassword" type="password" class="form-control" placeholder="@DataDictionaries.CurrentPassword">
                        <span asp-validation-for="Command.CurrentPassword" class="text-danger"></span>
                    </div>
                    <div class="form-element-row mb-5">
                        <input asp-for="Command.NewPassword" type="password" class="form-control" placeholder="@DataDictionaries.NewPassword">
                        <span asp-validation-for="Command.NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-element-row mb-5">
                        <input asp-for="Command.RepeatNewPassword" type="password" class="form-control" placeholder="@DataDictionaries.RepeatNewPassword">
                        <span asp-validation-for="Command.RepeatNewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-element-row mb-3">
                        <button class="btn btn-primary">@ButtonCaptions.ResetPassword</button>
                    </div>

                </form>
            </div>
        </div>
    </main>
    <partial name="PartialViews/_AccountFooter" />
</div>
<partial name="PartialViews/_Scripts" />
<partial name="PartialViews/_ValidationScriptsPartial" />
</body>
</html>