@using UserManagement.Application.Contracts.User
@inject IUserApplication _UserApplication;
@{
    var user = _UserApplication.GetUserSidebarInformationsForShow();
}

<div class="col-xl-3 col-lg-4 col-md-5 mb-md-0 mb-4">
    <div class="ui-sticky ui-sticky-top">
        <div class="profile-user-info py-3 ui-box bg-white">
            <div class="profile-detail">
                <div class="d-flex align-items-center">
                    <div class="profile-avatar me-3">
                        <img src="~/UserAvatar/Default.png" alt="avatar">
                    </div>
                    <div class="profile-info">
                        <a href="profile.html" class="text-decoration-none text-dark fw-bold mb-2">@user.FullName</a>
                        <div class="text-muted fs-7 fw-bold">@user.PhoneNumber</div>
                    </div>
                </div>
                <div class="user-options">
                    <ul>
                        <li>
                            <span class="label">@DataDictionaries.Wallet</span>
                            <span class="detail">
                                <span class="d-block fa-num">@user.WalletBalance.ToString("#,0") <span class="currency fs-7 fw-bold">@DataDictionaries.Toman</span></span>
                                <a href="/UserPanel/Wallet" class="link border-bottom-0 text-info fs-7 fw-bold">
                                    @DataDictionaries.IncreaseBalance <i class="ri-arrow-left-s-line"></i>
                                </a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="nav nav-items-with-icon flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="~/UserPanel">
                        <i class="nav-link-icon ri-dashboard-2-line"></i>
                        @ButtonCaptions.Dashboard
                    </a>
                </li>
                @*<li class="nav-item">
                    <a class="nav-link" href="profile-my-orders.html">
                        <i class="nav-link-icon ri-file-list-3-line"></i>
                        سفارش
                        های من
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="nav-link-icon ri-heart-3-line"></i> لیست
                        ها
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="nav-link-icon ri-chat-1-line"></i>
                        نظرات
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="nav-link-icon ri-map-pin-line"></i> نشانی
                        ها
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="nav-link-icon ri-gift-line"></i> کارت های
                        هدیه
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="nav-link-icon ri-notification-line"></i>
                        پیغام ها
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="nav-link-icon ri-time-line"></i> بازدید
                        های
                        اخیر
                    </a>
                </li>*@
                <li class="nav-item">
                    <a class="nav-link" href="/UserPanel/Wallet">
                        <i class="nav-link-icon ri-wallet-3-line"></i> @ButtonCaptions.Wallet
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/UserPanel/ConfirmInformations">
                        <i class="nav-link-icon ri-user-line"></i> @ButtonCaptions.AccountInformations
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Logout">
                        <i class="nav-link-icon ri-logout-box-r-line"></i>
                        @ButtonCaptions.Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>