@page "{handler?}"
@using UserManagement.Application.Contracts.Role
@model Server.Areas.Administration.Pages.Users.IndexModel
@{
    var roles = ViewData["Roles"] as List<RoleViewModel>;

    var createUserPermission = new int[] {UserPermissions.CreateUser};
    var editUserPermission = new int[] {UserPermissions.EditUser};
    var deleteUserPermission = new int[] {UserPermissions.DeleteUser};
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@DataDictionaries.UsersList</h3>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div permissions="createUserPermission" class="m-b-15">
                                <a  id="btnAddUser" class="btn btn-info">@ButtonCaptions.AddNewUser</a>
                            </div>

                            <div permissions="new int[]{UserPermissions.SearchUser}" class="row">
                                <form method="get">
                                    <div class="col-md-3">
                                        <div id="datatable_filter" class="dataTables_filter">
                                            <input name="fullName" type="search" class="form-control input-sm" placeholder="@DataDictionaries.FullName" aria-controls="datatable">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div id="datatable_filter" class="dataTables_filter">
                                            <input name="email" type="search" class="form-control input-sm" placeholder="@DataDictionaries.Email" aria-controls="datatable">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div id="datatable_filter" class="dataTables_filter">
                                            <input name="phoneNumber" type="search" class="form-control input-sm" placeholder="@DataDictionaries.PhoneNumber" aria-controls="datatable">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="dataTables_length" id="datatable_length">
                                            <label>
                                                @DataDictionaries.Show
                                                <select name="take" aria-controls="datatable" class="form-control input-sm">
                                                    @for (var i = 1; i <= 5; i++)
                                                    {
                                                        int x = 20;
                                                        if (i * x == (int)ViewData["Take"])
                                                        {
                                                            <option value="@(i * x)" selected>@(i * x)</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@(i*x)">@(i*x)</option>
                                                        }
                                                    }
                                                </select>
                                                @DataDictionaries.Record
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div id="datatable_filter" class="dataTables_filter">
                                            <input type="submit" value="@ButtonCaptions.Search" class="btn btn-primary" />
                                            <a href="/Admin/Users" class="btn btn-warning">@ButtonCaptions.Clear</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="row m-t-10">
                                <div class="col-sm-12">
                                    <table id="datatable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
                                        <thead>
                                            <tr role="row">
                                                <th>@DataDictionaries.FirstName</th>
                                                <th>@DataDictionaries.Email</th>
                                                <th>@DataDictionaries.NationalNumber</th>
                                                <th>@DataDictionaries.PhoneNumber</th>
                                                <th>@DataDictionaries.RegisterDate</th>
                                                <th>@DataDictionaries.IsActive</th>
                                                <th>@DataDictionaries.Role</th>
                                                <th>@DataDictionaries.Operations</th>
                                            </tr>
                                        </thead>

                                        <tbody>

                                            @foreach (var user in Model.UsersInformationsVm.Item1)
                                            {
                                                <tr role="row">
                                                    <td>@user.FullName</td>
                                                    <td>@user.Email</td>
                                                    <td>@user.NationalNumber</td>
                                                    <td>@user.PhoneNumber</td>
                                                    <td>@user.RegisterDate</td>
                                                    <td>
                                                        @if (user.IsActive)
                                                        {
                                                            <span class="text-success">
                                                                <i class="fa fa-check-circle"></i>
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <span class="text-danger">
                                                                <i class="fa fa-close"></i>
                                                            </span>
                                                        }
                                                    </td>
                                                    <td>@user.RoleTitle</td>
                                                    @{
                                                        var splitFullName = user.FullName.Split(' ');
                                                    }
                                                    <td>
                                                        <a permissions="editUserPermission" onclick="GetUserInformationsForEdit('@splitFullName[0]','@splitFullName[1]','@user.Email','@user.PhoneNumber','@user.AvatarName',@user.UserId,@user.RoleId)" class="btn btn-primary btn-xs btnEditUser">@ButtonCaptions.Edit</a>
                                                        <a permissions="deleteUserPermission" onclick="GetUserInformationsForDelete(@user.UserId,'@user.FullName','@user.AvatarName')" class="btn btn-danger btn-xs">@ButtonCaptions.Delete</a>
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div><div class="row">
                                <div class="col-sm-6">
                                    @{
                                        int take = Model.UsersInformationsVm.Item4;
                                        int pageId = Model.UsersInformationsVm.Item2;
                                        int totalEntries = Model.UsersInformationsVm.Item1.Count();
                                        int startEntry = (pageId - 1) * take;
                                        if (totalEntries != 0)
                                            startEntry += 1;
                                        int endEntry = pageId * take;
                                        if (totalEntries < endEntry)
                                            endEntry = totalEntries;
                                    }
                                    <div class="dataTables_info" id="datatable_info" role="status" aria-live="polite">
                                        @DataDictionaries.Showing @startEntry @DataDictionaries.To @endEntry @DataDictionaries.Of @totalEntries @DataDictionaries.Entries
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate">
                                        <ul class="pagination">
                                            @for (var i = 1; i <= Model.UsersInformationsVm.Item3; i++)
                                            {
                                                <li class="paginate_button @((Model.UsersInformationsVm.Item2==i)?"active":"")" aria-controls="datatable" tabindex="0"><a href="/Admin/Users?pageId=@i">@i</a></li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div permissions="createUserPermission" id="modalAddUser" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-header">
                    <h3>@DataDictionaries.AddNewUser</h3>
                </div>
                <form id="frmCreateUser" method="post" asp-page-handler="CreateUser" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-8">
                            <input asp-for="CreateUserCommand.FirstName" type="text" placeholder="@DataDictionaries.FirstName" class="form-control m-t-10" />
                            <span asp-validation-for="CreateUserCommand.FirstName" class="text-danger"></span>

                            <input asp-for="CreateUserCommand.LastName" type="text" placeholder="@DataDictionaries.LastName" class="form-control m-t-10" />
                            <span asp-validation-for="CreateUserCommand.LastName" class="text-danger"></span>

                            <input asp-for="CreateUserCommand.Email" type="text" placeholder="@DataDictionaries.Email" class="form-control m-t-10" />
                            <span asp-validation-for="CreateUserCommand.Email" class="text-danger"></span>

                            <input asp-for="CreateUserCommand.PhoneNumber" type="text" placeholder="@DataDictionaries.PhoneNumber" class="form-control m-t-10" />
                            <span asp-validation-for="CreateUserCommand.PhoneNumber" class="text-danger"></span>

                            <input asp-for="CreateUserCommand.Password" type="password" placeholder="@DataDictionaries.Password" class="form-control m-t-10" />
                            <span asp-validation-for="CreateUserCommand.Password" class="text-danger"></span>
                            <hr />
                            <div class="m-t-10 m-r-10">
                                <label>@DataDictionaries.UserRolesList</label>
                                @if (roles != null)
                                {
                                    foreach (var role in roles)
                                    {
                                        <div class="radio radio-success" style="direction:ltr;text-align:right">
                                            <input class="roleRadio" type="radio" name="roleId" id="@role.RoleId" value="@role.RoleId">
                                            <label for="@role.RoleId">
                                                @role.RoleTitle
                                            </label>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="m-t-15">
                                <div style="border:1px solid gray" class="form-control">
                                    <p style="font-size:large">@DataDictionaries.UserAvatar</p>
                                </div>
                                <div>
                                    <img id="imgAvatar" class="img img-thumbnail" src="~/UserAvatar/Default.png" alt="UserAvatar" style="width:100%;height:100%;object-fit:cover" asp-append-version=true />
                                </div>
                                <div>
                                    <input asp-for="CreateUserCommand.UserAvatar" id="imgInp" type="file" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div>
                        <input id="btnCreateUser" type="submit" class="btn btn-success" value="@ButtonCaptions.AddNewUser" />
                        <a class="btn btn-danger" data-dismiss="modal">@ButtonCaptions.Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div permissions="editUserPermission" id="modalEditUser" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-header">
                    <h3>@DataDictionaries.EditUser</h3>
                </div>
                <form id="frmEditUser" method="post" asp-page-handler="EditUser" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-8">
                            <input asp-for="EditUserCommand.UserId" id="userIdInp" type="hidden" />
                            <input asp-for="EditUserCommand.FirstName" type="text" placeholder="@DataDictionaries.FirstName" class="form-control m-t-10" />
                            <span asp-validation-for="EditUserCommand.FirstName" class="text-danger"></span>

                            <input asp-for="EditUserCommand.LastName" type="text" placeholder="@DataDictionaries.LastName" class="form-control m-t-10" />
                            <span asp-validation-for="EditUserCommand.LastName" class="text-danger"></span>

                            <input asp-for="EditUserCommand.Email" type="text" placeholder="@DataDictionaries.Email" class="form-control m-t-10" />
                            <span asp-validation-for="EditUserCommand.Email" class="text-danger"></span>

                            <input asp-for="EditUserCommand.PhoneNumber" type="text" placeholder="@DataDictionaries.PhoneNumber" class="form-control m-t-10" />
                            <span asp-validation-for="EditUserCommand.PhoneNumber" class="text-danger"></span>

                            <input asp-for="EditUserCommand.Password" type="password" placeholder="@DataDictionaries.Password" class="form-control m-t-10" />
                            <p class="help-block"><span class="text-danger">*</span> @DataDictionaries.EditPasswordMessage</p>
                            <span asp-validation-for="EditUserCommand.Password" class="text-danger"></span>

                            <hr />
                            <div class="m-t-10 m-r-10">
                                <label>@DataDictionaries.UserRolesList</label>
                                @if (roles != null)
                                {
                                    foreach (var role in roles)
                                    {
                                        <div class="radio radio-success" style="direction:ltr;text-align:right">
                                            <input class="editRoleRadio" type="radio" name="roleId" id="r@(role.RoleId)" value="@role.RoleId">
                                            <label for="r@(role.RoleId)">
                                                @role.RoleTitle
                                            </label>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="m-t-15">
                                <div style="border:1px solid gray" class="form-control">
                                    <p style="font-size:large">@DataDictionaries.UserAvatar</p>
                                </div>
                                <div>
                                    <img id="editImgAvatar" class="img img-thumbnail" alt="UserAvatar" style="width:100%;height:100%;object-fit:cover" asp-append-version=true />
                                </div>
                                <div>
                                    <input asp-for="EditUserCommand.UserAvatar" id="editImgInp" type="file" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div>
                        <input id="btnEditUser" type="submit" class="btn btn-success" value="@ButtonCaptions.EditUser" />
                        <a class="btn btn-danger" data-dismiss="modal">@ButtonCaptions.Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div permissions="deleteUserPermission" id="modalDeleteUser" class="modal fade">
    <div class="modal-dialog" style="width:45%">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-header">
                    <h3>@DataDictionaries.DeleteUser</h3>
                </div>
                <form id="frmDeleteUser" method="post" asp-page-handler="DeleteUser">
                    <div class="row">
                        <div class="col-md-4">
                            <img id="deleteImgAvatar" class="img img-thumbnail" alt="UserAvatar" style="width:100%;height:100%;object-fit:cover" asp-append-version=true />
                        </div>
                        <div class="col-md-8">
                            <h4>@ConfirmationMessages.DeleteUserConfirmationS1 (<span id="userNameInp" class="text-danger"></span>) @ConfirmationMessages.DeleteUserConfirmationS2</h4>
                            <input id="userIdForDeleteInp" name="userId" type="hidden" />
                            <p class="help-block">@DataDictionaries.ReturnDeletedUsersHelp</p>
                        </div>
                    </div>
                    <hr />
                    <div>
                        <input id="btnDeleteUser" type="submit" class="btn btn-danger" value="@ButtonCaptions.Delete" />
                        <a class="btn btn-success" data-dismiss="modal">@ButtonCaptions.Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts{

<script>
    $(function() {
        $("#btnAddUser").click(function() {
            $("#modalAddUser").modal('show');
        });
    });
</script>
<script>
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                $('#imgAvatar').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imgInp").change(function() {
        readURL(this);
    });

    $(function() {
        $(".roleRadio").last().attr('checked', 'true');
    });

    function GetUserInformationsForDelete(userId, userName, avatarName) {
        $("#userIdForDeleteInp").val(userId);
        $("#userNameInp").text(userName);
        $("#deleteImgAvatar").attr("src", "/UserAvatar/" + avatarName);
        $("#modalDeleteUser").modal('show');
    }

</script>
<script>
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                $('#editImgAvatar').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#editImgInp").change(function() {
        readURL(this);
    });

</script>
}